if NAPE
config ZMK_KEYBOARD_NAME
    default "Nape Trackball"

# デフォルト向きレイヤーの設定
config NAPE_DEFAULT_LAYER
    int "電源オン時のデフォルトの向きレイヤー"
    default 3
    range 0 3
    help
      電源オン時のデフォルトの使用向きを選択。
      0: USBポートが下 
      1: USBポートが左 
      2: USBポートが上 
      3: USBポートが右
endif